.ludo {
    &__wrapper {
        width: 100%;
        max-width: 500px;
        aspect-ratio: 1/1;
        overflow: hidden;
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
        border: 5px solid white;
        border-radius: 16px;
        box-shadow: 0 0 16px rgba(black, 0.5);
    }

    &__home {
        flex-basis: 40%;
        aspect-ratio: 1/1;
        background-color: transparent;
        padding: 4%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        border-radius: 12px;

        &__item {
            width: 65%;
            aspect-ratio: 1/1;
            margin: auto;
            border-radius: 8px;
        }


        &.red {
            background-color: rgba(red, 0.25);
            &>div {
                background-color: red;
            }
        }
        &.yellow {
            background-color: rgba(#ffa500, 0.25);
            &>div {
                background-color: #ffa500;
            }
        }
        &.green {
            background-color: rgba(green, 0.25);
            &>div {
                background-color: green;
            }
        }
        &.blue {
            background-color: rgba(blue, 0.25);
            &>div {
                background-color: blue;
            }
        }
    }
    &__path {
        flex-basis: 20%;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        &__item {
            aspect-ratio: 1/1;
            border: 1px solid rgba(#333333, 0.5);
            border-radius: 4px;
            margin: 2px;
            
        }
        &.red {
            .ludo__path__item {
                &.home, &.star {
                    background-color: rgba(red, 0.75);
                }
                &.final {
                    background-color: rgba(red, 0.25);
                }
            }
        }
        &.yellow {
            .ludo__path__item {
                &.home, &.star {
                    background-color: rgba(#ffa500, 0.75);
                }
                &.final {
                    background-color: rgba(#ffa500, 0.25);
                }
            }
        }
        &.green {
            .ludo__path__item {
                &.home, &.star {
                    background-color: rgba(green, 0.75);
                }
                &.final {
                    background-color: rgba(green, 0.25);
                }
            }
        }
        &.blue {
            .ludo__path__item {
                &.home, &.star {
                    background-color: rgba(blue, 0.75);
                }
                &.final {
                    background-color: rgba(blue, 0.25);
                }
            }
        }
        &.horizontal {
            flex-basis: 40%;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }
    
    &__center {
        flex-basis: 20%;
        aspect-ratio: 1/1;
        background-color: lightgray;
        border-radius: 8px;
    }

}