.ludo {
    &__wrapper {
        width: 100%;
        max-width: 500px;
        aspect-ratio: 1/1;
        overflow: hidden;
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
        border: 5px solid white;
        border-radius: 16px;
        box-shadow: 0 0 16px rgba(black, 0.5);
        cursor: pointer;
    }

    &__home {
        flex-basis: 40%;
        aspect-ratio: 1/1;
        background-color: transparent;
        padding: 4%;
        position: relative;
        transition: $transition;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        border: 4px solid white;
        border-radius: 12px;

        &__avatar {
            width: 25%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            background: #333333;
            border: 4px solid white;
            box-shadow: 0 0 16px rgba(black, 0.25);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: $transition;
        }

        &__item {
            width: 65%;
            aspect-ratio: 1/1;
            margin: auto;
            border-radius: 8px;
        }

        &.red {
            background-color: rgba(red, 0.25);
            &>div {
                background-color: red;
            }
        }
        &.yellow {
            background-color: rgba(#ffa500, 0.25);
            &>div {
                background-color: #ffa500;
            }
        }
        &.green {
            background-color: rgba(green, 0.25);
            &>div {
                background-color: green;
            }
        }
        &.blue {
            background-color: rgba(blue, 0.25);
            &>div {
                background-color: blue;
            }
        }

        &:hover {
            padding: 2%;
            .ludo__home__avatar {
                width: 35%;
            }
        }
    }
    &__path {
        flex-basis: 20%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        &__item {
            aspect-ratio: 1/1;
            border: 1px solid rgba(#333333, 0.5);
            border-radius: 4px;
            margin: 2px;
            overflow: hidden;
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            color: rgba(black, 0.25);
            white-space: nowrap;

            &::before {
                content: '';
                width: 100%;
                aspect-ratio: 1/1;
                position: absolute;
                top: 50%;
                left: 50%;
                border-radius: 4px;
                transform: translate(-50%, -50%) scale(1.1);
                pointer-events: none;
                transition: $transition;
            }
        }
        &.red {
            .ludo__path__item {
                &.home, &.star {
                    background-color: rgba(red, 0.75);
                }
                &.final {
                    background-color: rgba(red, 0.25);
                }
                &:hover {
                    &::before {
                        background-color: rgba(red, 0.5);
                    }
                }
            }
        }
        &.yellow {
            .ludo__path__item {
                &.home, &.star {
                    background-color: rgba(#ffa500, 0.75);
                }
                &.final {
                    background-color: rgba(#ffa500, 0.25);
                }
                &:hover {
                    &::before {
                        background-color: rgba(#ffa500, 0.5);
                    }
                }
            }
        }
        &.green {
            .ludo__path__item {
                &.home, &.star {
                    background-color: rgba(green, 0.75);
                }
                &.final {
                    background-color: rgba(green, 0.25);
                }
                &:hover {
                    &::before {
                        background-color: rgba(green, 0.5);
                    }
                }
            }
        }
        &.blue {
            .ludo__path__item {
                &.home, &.star {
                    background-color: rgba(blue, 0.75);
                }
                &.final {
                    background-color: rgba(blue, 0.25);
                }
                &:hover {
                    &::before {
                        background-color: rgba(blue, 0.5);
                    }
                }
            }
        }

        &.horizontal {
            flex-basis: 40%;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }
    
    &__center {
        flex-basis: 20%;
        aspect-ratio: 1/1;
        background-color: lightgray;
        border-radius: 8px;
    }

}